# 1
Scrape the detail of most viewed videos on YouTube from Wikipedia

Rank, Name, Artist, Upload Date, View

In [4]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
import pandas as pd
import time
from selenium.webdriver.common.action_chains import ActionChains
from IPython.display import HTML
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup

In [5]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1500,1000)
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
print(driver.title)

List of most-viewed YouTube videos - Wikipedia

In [27]:
df=pd.DataFrame()
df=pd.read_html(driver.find_element_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]').get_attribute('outerHTML'))
df[0].drop(['Note','Unnamed: 6'],axis=1)

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.48,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.81,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.28,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.68,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.47,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.23,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.56,"March 6, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,4.56,"February 27, 2018"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.53,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.39,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,3.92,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.92,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.68,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.56,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.55,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.53,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.43,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.31,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.27,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.26,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.25,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.21,"July 25, 2012"
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.19,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.19,"March 22, 2015"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.16,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.14,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.11,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.06,"June 29, 2017"
30,"As of April 15 , 2022","As of April 15 , 2022","As of April 15 , 2022","As of April 15 , 2022","As of April 15 , 2022"

# 3

In [39]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1500,1000)
driver.get('https://www.guru99.com/')
print(driver.title)

Meet Guru99 – Free Training Tutorials & Video for IT Courses

In [40]:
df=pd.DataFrame()
found=False
try:
    optn = driver.find_element_by_xpath('//a[@title="Selenium"]')
    optn.click()
    time.sleep(0.5)
    
    optn = driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]')
    optn.click()
    time.sleep(0.5
              )
    df=pd.read_html(driver.find_element_by_xpath('//table[@class="table table-striped"]').get_attribute('outerHTML'))

except NoSuchElementException:
    Print("Web Element not Found")
    
df[0]

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4
Scrape the details of State-Wise GDP of India. You have to find the following details:
    
    a. Rank
    b. State
    c. GSDP (18-19)
    d. GSDP (17-18)
    e. Share (2017)
    f. GDP($ billion)

Note: From statistictime homepage you have to reach to economy page through code.

In [52]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1500,1000)

In [53]:
driver.get('https://www.statisticstimes.com/')
print(driver.title)
try:
    optn = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    driver.get(optn.get_attribute('href'))
    print(driver.title)
    
    optn = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    driver.get(optn.get_attribute('href'))
    print(driver.title)
    
except NoSuchElementException:
    Print("Web Element not Found")

StatisticsTimes.com | Collection of Statistics and charts
Economy (India) Statistics - StatisticsTimes.com
GDP of Indian states - StatisticsTimes.com

In [55]:
df=pd.DataFrame()
df=pd.read_html(driver.find_element_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table').get_attribute('outerHTML'))
df[0]

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

# 5
Scrape details of Trending repositories on Github.com
You have to find the following details:
    
    a. Reporsitory Title
    b. Repository Description
    c. Contributor count
    d. Language Used

In [56]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1500,1000)

In [57]:
driver.get('https://github.com/')
print(driver.title)
try:
    optn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
    driver.get(optn.get_attribute('href'))
    print(driver.title)
    
except NoSuchElementException:
    Print("Web Element not Found")

GitHub: Where the world builds software · GitHub
Trending repositories on GitHub today · GitHub

In [64]:
df=pd.DataFrame()
column=["Repository Title", "Repository Descr","Contributor Count","Language Used"]

for a in driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article'):
    Title=a.find_element_by_xpath('.//h1/a').text
    Descr=a.find_element_by_xpath('.//p').text
    Count=len(a.find_elements_by_xpath('.//div[2]/span[2]/a'))
    try:
        Lang=a.find_element_by_xpath('.//div[2]/span[1]/span[2]').text
    except NoSuchElementException:
        Lang=""
    rows=[Title,Descr,Count, Lang]
    df=df.append(pd.DataFrame([rows],columns=column))
    
df

,Repository Title,Repository Descr,Contributor Count,Language Used
0,Grasscutters / Grasscutter,A server software reimplementation for a certa...,5,Java
0,WolfireGames / overgrowth,Open Source codebase of the game Overgrowth by...,5,C++
0,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",5,Python
0,starship / starship,"☄🌌️ The minimal, blazing-fast, and infinitely ...",5,Rust
0,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,5,C++
0,tachiyomiorg / tachiyomi,Free and open source manga reader for Android.,5,Kotlin
0,FBlackBox / BlackBox,"BlackBox is a virtual engine, it can clone and...",0,
0,janestreet / magic-trace,magic-trace collects and displays high-resolut...,5,OCaml
0,Dimbreath / GenshinData,Repository containing the game data for the ga...,0,
0,Grasscutters / Grasscutter-Protos,Protobuf files for Grasscutter,0,
0,stylegan-human / StyleGAN-Human,StyleGAN-Human: A Data-Centric Odyssey of Huma...,5,Python
0,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,5,Python
0,efectn / go-orm-benchmarks,Advanced benchmarks for +10 Go ORMs.,5,Go
0,urfave / cli,"A simple, fast, and fun package for building c...",5,Go
0,ClemensElflein / OpenMower,Let's upgrade cheap off-the-shelf robotic mowe...,2,HTML
0,raysan5 / raylib,A simple and easy-to-use library to enjoy vide...,5,C
0,radioegor146 / gi-bin-output,Almost™ full Genshin Impact BinOutput data,0,
0,kamranahmedse / developer-roadmap,Roadmap to becoming a developer in 2022,5,TypeScript
0,home-assistant / core,🏡 Open source home automation that puts local ...,5,Python
0,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS",5,CSS
0,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,5,C++
0,qbittorrent / qBittorrent,qBittorrent BitTorrent client,5,C++
0,hashcat / hashcat,World's fastest and most advanced password rec...,5,C
0,hehonghui / the-economist-ebooks,经济学人(含音频)、纽约客、自然、新科学人、卫报、科学美国人、连线、大西洋月刊、国家地理等英...,1,CSS
0,BGU-CS-VIL / DeepDPM,"""DeepDPM: Deep Clustering With An Unknown Numb...",2,Python

# 6
Scrape details of top 100 songs from www.billboard.com
    
    a. Rank
    b. Song
    c. Artist
    d. Last Week Position
    e. Top Position
    f. Weeks on chart

In [65]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1200,1000)

In [66]:
driver.get('https://www.billboard.com/')
print(driver.title)
try:
    optn = driver.find_element_by_xpath('/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
    driver.get(optn.get_attribute('href'))
    print(driver.title)
    
except NoSuchElementException:
    Print("Web Element not Found")

Billboard – Music Charts, News, Photos & Video
The Hot 100 – Billboard

In [72]:
df=pd.DataFrame()
column=["Rank", "Song","Artist","Last Week Position", "Peak Position","Weeks on Chart"]
for a in driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[@class="o-chart-results-list-row-container"]'):
    rank=a.find_element_by_xpath('.//ul/li[1]/span[1]').text
    song=a.find_element_by_xpath('.//ul/li[4]/ul/li[1]/h3').text
    artist=a.find_element_by_xpath('.//ul/li[4]/ul/li[1]/span').text
    lastweek=a.find_element_by_xpath('.//ul/li[4]/ul/li[4]/span').text
    toppos=a.find_element_by_xpath('.//ul/li[4]/ul/li[5]/span').text    
    weeks=a.find_element_by_xpath('.//ul/li[4]/ul/li[6]/span').text 
    rows=[rank, song, artist, lastweek, toppos, weeks]
    df=df.append(pd.DataFrame([rows],columns=column))

In [73]:
HTML(df.style.to_html())

# 7

Scrape the details of Data Science recruiters from naukri.com. URL: https://www.naukri.com
You have to find the following details:

    a. Name
    b. Designation
    c. Company
    d. Skill they hire for
    e. Location

Note: From naukri.com homepage click on recruiters option and on the search pane type Data Science and click on search. This should all be done through code.

In [ ]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1200,1000)

In [75]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')
print(driver.title)
search=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys("Data Science")
search=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

HR Manager - HR Executive - HR Recruiter Consultants - Naukri.com

In [101]:
df=pd.DataFrame()
column=["Recruiter Name", "Recruiter Designation","Company","Skills they hire","Recruiter Location"]

data=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div/div[@id="tabP-1"]')
for r in data.find_elements_by_xpath('.//div[@class="recInfo"]'):
    info = r.find_elements_by_xpath('.//span')
    name= info[0].text
    desig = info[1].text
    try:
        company = r.find_elements_by_xpath('.//div/p/a[@class="ellipsis"]')[1].text
    except (NoSuchElementException, IndexError):
        company=""
        
    try:
        location = info[2].text
    except IndexError:
        location=""
    skill = r.find_element_by_xpath('.//div[@class="hireSec highlightable"]').text
    rows=[name, desig, company, skill, location]
    df=df.append(pd.DataFrame([rows],columns=column))

In [102]:
HTML(df.style.to_html())

## 8
Scrape details of highest selling novels <br>
[https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare](https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare)

You have to find the following details:
    
|Book Name|Author Name|Volums Sold| Publisher| Genre|
|---|--|---|---|---|

In [5]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
import pandas as pd
import time
from selenium.webdriver.common.action_chains import ActionChains
from IPython.display import HTML
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import requests

In [103]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1500,1000)
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
print(driver.title)

The top 100 bestselling books of all time: how does Fifty Shades of Grey compare? | News | theguardian.com

In [118]:
df=pd.DataFrame()
df=pd.read_html(driver.find_element_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table').get_attribute('outerHTML'))

# Removing the last row, as it is a footer row
df[0].drop(df[0].tail(1).index, inplace = True)

#Renaming columns to match the request
df[0].rename(columns={'Title':'Book Name', 'Author':'Author Name'}, inplace = True)

#printing as HTML for better display
HTML(df[0].style.to_html())

In [120]:
df[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          100 non-null    object
 1   Book Name     100 non-null    object
 2   Author Name   100 non-null    object
 3   Volume Sales  100 non-null    object
 4   Publisher     100 non-null    object
 5   Genre         100 non-null    object
dtypes: object(6)
memory usage: 5.5+ KB

## 9. 
Scrape the details most watched tv series of all time from imdb.com. <br> Url = https://www.imdb.com/list/ls095964455/ 

You have to find the following details:

|Name|Year span|Genre|Run time|Ratings|Votes|
|---|---|---|---|---|---|

In [24]:
df=pd.DataFrame()
column= ["Name","Year Span", "Genre", "Runtime", "Rating","Votes"]
r=requests.get('https://www.imdb.com/list/ls095964455/', verify=False)
soup=BeautifulSoup(r.text,'html.parser')
soup=soup.find_all("div", {"class" : "lister-item-content"})
for item in soup:
    Name = item.h3.a.text
    YearSpan = item.h3.find_all('span')[1].text
    Runtime=item.p.find('span',{"class":"runtime"}).text
    Genre=item.p.find('span',{"class":"genre"}).text
    Rating=item.div.div.span.text
    Votes=item.find('span',{"name":"nv"}).text
    rows = [Name.strip(), YearSpan.strip(), Genre.strip(), Runtime.strip(), Rating.strip(), Votes.strip()]
    df=df.append(pd.DataFrame([rows], columns=column))
HTML(df.style.to_html())

C:\Users\amathew\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.imdb.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

## 10. 

Details of Datasets from UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/ 

You have to find the following details: 

    A) Dataset name 
    B) Data type 
    C) Task 
    D) Attribute type 
    E) No of instances 
    F) No of attribute 
    G) Year 

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [29]:
driver = webdriver.Chrome('C:\Python\Chrome\chromedriver.exe')
driver.set_window_size(1500,1000)
driver.get('https://archive.ics.uci.edu/ml/datasets.php')
print(driver.title)

UCI Machine Learning Repository: Data Sets

In [37]:
df=pd.DataFrame()
#column= ["Name","Year Span", "Genre", "Runtime", "Rating","Votes"]

count=0
for list in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr'):
    rows=[]
    for tr in list.find_elements_by_xpath('./*'):
        rows.append(tr.text.strip())
    df=df.append(pd.DataFrame([rows]))
    #if count == 10:
    #    break
    count+=1

df.columns = df.iloc[0]
df = df[1:]
print(df.info())
HTML(df.head().style.to_html())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 622 entries, 0 to 0
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             622 non-null    object
 1   Data Types       622 non-null    object
 2   Default Task     622 non-null    object
 3   Attribute Types  622 non-null    object
 4   # Instances      622 non-null    object
 5   # Attributes     622 non-null    object
 6   Year             622 non-null    object
dtypes: object(7)
memory usage: 38.9+ KB
None